<% const d = new Date()
let year = d.getFullYear() %>
<footer>
    <p class="copyright">&copy; <%= year %>, CSE 340 App</p>
    <div class="" style="display: flex; flex-direction: row; gap: 1rem;">
        <p><a href="/chewbacca" text="This is a link to a page that does not exist">404 Error</a></p>
        <p><a href="/error/trigger-error" text="This is a link to a page that does not exist">500 Error</a></p>
    </div>
</footer>