<!-- <h1>John Ayomide Adebayo</h1> -->

<div id="hero">
    <h1>Welcome to CSE Motors!</h1>
 

    <div class="d-heroContent">
        <h2>DMC Delorean</h2>
        <p>3 Cup holders</p>
        <p>Superman doors</p>
        <p>Fuzzy dice</p>

        <img src="/images/site/own_today.png" alt="Delorean">
        <!-- <button class="btn">Own today</button> -->
    </div>
</div>

<div id="review-upgrades-wrapper">
    <div id="d-reviews">
        <h3>DMC Delorean Reviews</h3>
        <ol>
            <li>"So fast it's almost like travelling in time (4/5)"</li>
            <li>"Coolest ride on the road" (4/5)</li>
            <li>"I'm feeling Marty McFly" (5/5)</li>
            <li>"The most futuristic ride of our day" (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ol>
    </div>
    <div id="d-upgrades">
        <h3>Delorean Upgrades</h3>

        <div class="d-upgradesContentWrapper">
            <div class="d-upgradesContent">
                <div class="d-upgradesContentImage">
                    <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
                </div>
                <a href="#">Flux Capacitor</a>
            </div>
            <div class="d-upgradesContent">
                <div class="d-upgradesContentImage">
                    <img src="/images/upgrades/flame.jpg" alt="Flame">
                </div>
                <a href="#">Flame</a>
            </div>
            <div class="d-upgradesContent">
                <div class="d-upgradesContentImage">
                    <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Sticker">
                </div>
                <a href="#">Bumper Stickers</a>
            </div>
            <div class="d-upgradesContent">
                <div class="d-upgradesContentImage">
                    <img src="/images/upgrades/hub-cap.jpg" alt="Hub Cap">
                </div>
                <a href="#">Hub Caps</a>
            </div>
        </div>
    </div>
</div>