<%# messages() %>

<%- grid %>
<!-- 
<div class="image-section">
    <img src="/images/vehicles/aerocar.jpg" alt="aerocar">
</div>
<div class="v-content">
    <h2>Ford</h2>
    <h2>Mustang</h2>
    <h2>2022</h2>
    <h2>$35,000</h2>
    <p>This is a classic American muscle car with modern features and outstanding performance.</p>
</div> -->