<!-- Display Title -->
<h1><%= title %></h1>

<!-- Flash Messages -->
<% if (messages.notice) { %>
<div class="notice">
    <%= messages.notice %>
</div>
<% } %>

<ul>
    <li><a href="/inv/add-classification" class="management-btn btn-primary">Add New Classification</a></li>
    <li><a href="/inv/add-inventory" class="management-btn btn-secondary">Add New Vehicle</a></li>
</ul>

<h2>Manage Inventory</h2>
<span>Select a classification to manage its vehicles:</span>
<p> </p>
<%- classificationSelect %>
<table id="inventoryDisplay"></table>
<noscript>JavaScript must be enabled to use this page.</noscript>



<script src="../../js/inventory.js"></script>